@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  width: 100%;
  height: 100%;
}

.header {
  background: #f5f5f5;
  padding: 20px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.navbar-logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar-buttons button {
  font-size: 20px;
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.login-btn {
  color: rgb(233, 139, 233);
  transition: 0.5s;
  border-radius: 15px;
}

.login-btn:hover {
  color: rgb(255, 255, 255);
  background-color: purple;
}

.signup-btn {
  background-color: purple;
  color: white;
  border-radius: 14px;
  transition: 0.5s;
}

.signup-btn:hover {
  color: white;
  background-color: rgb(233, 139, 233);
  border-radius: 15px;
}

.nav-links-container {
  height: 45px;
  background-color: #3b3b3e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.nav-links-content a {
  font-size: 20px;
  color: gray;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links-content a:hover {
  color: #fff;
}

.nav-links-content a::after {
  content: "";
  position: absolute;
  width: 0px;
  background-color: orange;
  height: 4px;
  bottom: -10px;
  left: 0;
  border-radius: 2px;
  overflow: hidden;
  transition: 0.3s;
}

.nav-links-content a:hover::after {
  width: 100%;
}

.hero-section {
  padding: 25px 20px;
  background: #f9f9f9;
}

.hero-content {
  max-width: 800px;
  margin: auto 100px;
  text-align: left;
}

.initiative-tag {
  font-size: 15px;
  color: black;
  border: 1px solid #ff9800;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  border-radius: 8px;
  max-width: 280px;
  gap: 10px;
}

.bold-tag {
  font-weight: 500;
  gap: 0;
}

.hero-content h1 {
  font-size: 55px;
  color: #333;
  margin: 10px 0;
  line-height: 65px;
}

.hero-content h1 span {
  color: purple;
}

.hero-content p {
  font-size: 18px;
  color: #666;
  margin-bottom: 25px;
}

.features {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
}

.features span {
  background: #ffebcc;
  color: #bb5302;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.award-star {
  height: 20px;
  width: 20px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.hero-buttons button {
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.enroll-button {
  background: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;
  margin-right: 10px;
  border-radius: 20px;
  font-weight: 700;
}

.know-more-button {
  background: transparent;
  color: purple;
  border: 1px solid #6c63ff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.hero-buttons img {
  height: 20px;
  width: 20px;
}

.hat-img {
  height: 24px;
  width: 24px;
}

.stats-section {
  display: flex;
  justify-content: space-around;
  padding: 35px 50px;
  background: #f9ebfc;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.stat img {
  width: 70px;
  height: 70px;
}

.stat p {
  font-size: 28px;
  color: purple;
  font-weight: 600;
}

.stat h2 {
  font-size: 24px;
  font-weight: 400;
}

.straight-line {
  width: 2px;
  height: 75px;
  background-color: #e8d4eb;
}

.course-curriculum-page {
  width: 100%;
  height: 100%;
  padding: 140px 0;
  background-color: #fcf5fe;
  margin-top: 40px;
}

.course-curriculum-header {
  text-align: center;
  margin-bottom: 60px;
}

.learning-path-tag {
  margin-top: 30px;
  background: #f4d6f8;
  color: #992e9d;
  display: inline-block;
  padding: 20px 30px;
  border-radius: 20px;
  border: 1px solid #992e9d;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 40px;
}

.course-curriculum-header h2 {
  font-size: 38px;
  color: #333;
}

.course-curriculum-header span {
  background: linear-gradient(#b73bbe, #ebcb2e);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}

.course-curriculum-list {
  max-width: 800px;
  margin: 0 auto;
}

.course-item {
  background: #fff;
  padding: 25px;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-info h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.course-info p {
  margin: 5px 0 0;
  color: #666;
  font-size: 15px;
  font-weight: 500;
}

.view-curriculum-button {
  background: #f3e8ff;
  color: #b73bbe;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: 0.5s;
}

.view-curriculum-button:hover {
  background: #e0c9ff;
}

.course-curriculum-page img {
  width: 20px;
  height: 20px;
}